body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    width: fit-content;
    margin: auto;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    line-height: 30px;
    cursor: pointer;
}