<!DOCTYPE html>
<html>
<head>
    <title>Cờ Caro Online</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>CỜ CARO ONLINE</h1>

<div id="info-bar">
    <div id="player-left">Bạn:</div>
    <div id="score-center">
        <span id="scoreX">0</span> : <span id="scoreO">0</span>
    </div>
    <div id="player-right">Đối thủ:</div>
</div>

<div id="board"></div>

<!-- POPUP THẮNG -->
<div id="popup" class="popup hidden">
    <div class="popup-content">
        <h2 id="popup-message"></h2>
        <button id="replay-btn" onclick="requestReplay()">Chơi lại</button>
    </div>
</div>

<!-- POPUP BẮT ĐẦU -->
<div id="start-popup" class="popup">
    <div class="popup-content">
        <h2>🎮 GAME CỜ CARO ONLINE</h2>
        <div id="coin">X / O</div>
        <button onclick="startGame()">BẮT ĐẦU</button>
    </div>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/game.js"></script>
</body>
</html>